$grid-header-color: #E0E0E0;
$grid-lines: darken($grid-header-color,15%);

table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;

  //Prevent overlapping borders
  td,th {
    &:first-child {
      border-left: 1px solid $grid-lines;
    }
    border-bottom: 1px solid $grid-lines;
    border-right: 1px solid $grid-lines;
  }
  th {
    border-top: 1px solid $grid-lines;
  }


  thead {
    th {
      background: $grid-header-color;
      font-weight: bold;
      padding: 5px 9px;
      border-bottom: 1px solid #111;
    }
    %sorting_enabled {
      cursor: pointer;
      *cursor: hand;
      background-repeat: no-repeat;
      background-position: center right;
    }
    .sorting {
      @extend %sorting_enabled;
    }
    .sorting_asc {
      @extend %sorting_enabled;
      background-image: url("../img/sort_asc.png");
    }
    .sorting_desc {
      @extend %sorting_enabled;
      background-image: url("../img/sort_desc.png");
    }
    %sorting_disabled {
      background-repeat: no-repeat;
      background-position: center right;
    }
    .sorting_asc_disabled {
      @extend %sorting_disabled;
      background-image: url("../img/sort_asc_disabled.png");
    }
    .sorting_desc_disabled {
      @extend %sorting_disabled;
      background-image: url("../img/sort_desc_disabled.png");
    }
  }
  tbody {
    tr {
      background-color: #ffffff;
    }
    td {
      padding: 4px 8px;
    }
  }
}
//special class for display
table.dataTable.display {
  tbody {
    tr.odd {
      background-color: darken(#ffffff,2%);
      }
      &:first-child {
        td {
          border-top: none;
        }
      }
    }
    th, td {
      //border-top: 1px solid #ddd;
      //border-right: 1px solid #ddd;
    }
}

.dataTables_wrapper {
  @include outer-container;
  @include clearfix;
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
  padding-top: 3em;
  padding-bottom: 3em;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
}
