.grid-page {
	padding-top:1em;	
}
.top-row {
	box-sizing:border-box;
	@include span-columns(12);
}
.grid-search {
	@include span-columns(4);
}
.grid-context-buttons{
	@include shift(5);
	@include span-columns(3);
	position: absolute;
	right:0;
}
.grid-filter {
	clear:both;
	margin-top:1em;
	padding-top:.25em;
	padding-bottom:.25em;
}

.grid-content {
	padding-top: 10px;
}

.grid-filter-divider{
    border-bottom: 1px solid $tt-light-gray; 
    border-top: 1px solid $tt-light-gray; 
    padding-top: 1px;
    margin: 10px 0 10px;
		//background: lighten($main-color,20%);
	}