.form-page {

}
.form-header {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid gainsboro;
	h2 {
		float: left;
		margin: 5px 15px 0;
	}
}
.form-nav {
	float: left;
	cursor: pointer;
}
.form-display {
	padding-top: 40px;
	padding-bottom: 40px;
	display: block;
	width: 100%;
	border: 1px solid gainsboro;
	margin-top: 15px;
	@include row(block);
	.form-body {
		@include shift(1);
		.form-row {
			@include span-columns(11);
			@include omega();
		}
		.label-small {
			@include span-columns(2);
		}
		.label-large {
			@include span-columns(5);
		}
		.float {
			float: left;
		}
		.input-medium {
     		height: 28px;
			@include span-columns(5);
		}
		.input-max {
			@include span-columns(10);
		}
	}
}
.form-buttons {
	margin-top: 10px;
	button {
		padding: 0;
		width: 80px;
		height: 40px;
	}
	.right {
		margin-left: 8px;
		float: right;
	}
	.left {
		margin-right: 8px;
		float: left;
	}
}