.alert{
	background: $tt-blue;
	padding: 20px;
	color: $white;

	i{ 
		padding: 0 10px; 
		&.close{
			float: right;
			&:hover{
				cursor: pointer;
			}
		}
	}

}

.trade-list{
	.tag{
		padding: 10px;
		background: green;
		display: inline;
		color: $white;
	}
}

.profile{
	margin: 0 auto 20px;
	background: $tt-light-gray;
	max-width: 100%;
	padding: 40px 0;
}

.button-group{
	display: inline-block;
	margin: 40px 0;
}
