//Cards
.view-profile{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
  background: rgba($black, 0.88);
  @include transition(all 0.8s $ease-out-quart);
  button{
    margin-top: 25%;
  }
}


.card{
  border: 3px solid $tt-light-gray;
  width: 600px;
  position: relative;
  &:hover{
    .view-profile{
      cursor: pointer;
      opacity: 1;
      @include transition(all 0.3s $ease-in-out-quint);
    }
  }
}

// add to components scss
button{
    @include border-top-radius(10px);
    @include border-bottom-radius(10px);
    padding: 20px 50px;
    border: 1px solid $tt-blue;
    background: $tt-blue;
    font-size: 18px;
    @include transition(all 0.3s $ease-out-quart);
    &:hover{
      background: rgba($tt-blue, 0.90);
    @include transition(all 0.3s $ease-out-quart);

    }
}

.info{
  padding: 10px;
  min-height: 120px;
  // background: $tt-blue;
  border-bottom: 1px solid $tt-light-gray;

  &.mid{
    border-left: 1px solid $tt-light-gray;
    border-right: 1px solid $tt-light-gray;
  }

  &.lower{
    border-bottom: 0;
  }

  .info-content{
    span{
      display: block;
    }
  }
}

.info-top{
  padding: 20px;
  border-bottom: 1px solid $tt-light-gray;
  text-align: center;

  h3{
    margin-bottom: 5px;
  }
}


.info-bottom{
  display: inline-block;
  width: 100%;
  .info{
    text-align: center;
    float: left;
    width: 33.3%;
  }
}