// Filter Dropdown
.dropdown {
	$base-border-radius: 3px !default;
	$base-background-color: white !default;
	$dark-gray: #333 !default;
	$large-screen: em(860) !default;
	$base-font-color: $dark-gray !default;
	$dropdown-color: $base-font-color;
	$dropdown-selections-color: lighten($dropdown-color, 40%);
	$dropdown-border: 1px solid silver;
	$dropdown-background: $base-background-color;
	$dropdown-background-hover: darken($dropdown-background, 5%);
	$dropdown-padding: 8px;
	$dropdown-arrow-top-distance: 0;


	.dropdown-button-container {
		background: $dropdown-background;
		cursor: pointer;
		border: $dropdown-border;
	}
	.dropdown-button-container:hover {
		background-color: $dropdown-background-hover;
	}

	.dropdown-description {
		font-weight: 800;
		font-size: .7em;
		padding: $dropdown-padding $dropdown-padding 0 $dropdown-padding;
		@include media($large-screen) {
			font-size: 1em;
		}
	}

	.dropdown-description:after {
		color: $base-font-color;
		content: "\25BE";
		float: right;
		right: $dropdown-padding;
		top: $dropdown-arrow-top-distance;
	}

	.dropdown-subtext {
		color: $dropdown-selections-color;
		font-size: .5em;
		padding: 0 $dropdown-padding 0 $dropdown-padding;
		@include media($large-screen) {
			font-size: .7em;
		}
	}

	.dropdown-select-menu {
		box-sizing: border-box;
		background: $dropdown-background;
		border-radius: $base-border-radius;
		border-top-left-radius: 0;
		border: $dropdown-border;
		color: $dropdown-color;
		cursor: pointer;
		width: auto;
		overflow: visible;
		position: relative;
		z-index: 9999;
		li {
     		width: auto;
			padding: 0 ($dropdown-padding * 4) 0 $dropdown-padding;
			&:hover {
				background: $dropdown-background-hover;
			}
			&.clearButton {
				text-align: center;
				background-color: $dropdown-background-hover;
			}
		}
	}
	.dropdown-multi-select-menu {
		box-sizing: border-box;
		background: $dropdown-background;
		border-radius: $base-border-radius;
		border-top-left-radius: 0;
		border: $dropdown-border;
		color: $dropdown-color;
		cursor: pointer;
		width: auto;
		overflow: visible;
		position: relative;
		z-index: 9999;
		li {
     		width: auto;
			padding: 0 ($dropdown-padding * 4) 0 $dropdown-padding;
			&:hover {
				background: $dropdown-background-hover;
			}
			&.clearButton {
				text-align: center;
				background-color: $dropdown-background-hover;
			}
		}
	}
}

