// Filter Dropdown
.dropdown {
	$base-border-color: gainsboro !default;
	$base-border-radius: 3px !default;
	$base-line-height: 1.5em !default;
	$base-background-color: white !default;
	$dark-gray: #333 !default;
	$large-screen: em(860) !default;
	$base-font-color: $dark-gray !default;
	$dropdown-color: $base-font-color;
	$dropdown-selections-color: lighten($dropdown-color, 40%);
	$dropdown-border: 1px solid silver;
	$dropdown-background: $base-background-color;
	$dropdown-background-hover: darken($dropdown-background, 5%);
	$dropdown-inner-border: 1px solid silver;
	$dropdown-height: 40px;
	$dropdown-padding: 16px;
	$dropdown-distance-from-menu: 50px;
	$dropdown-arrow-top-distance: 0;
	$dropdown-box-height: 3.5em;

	line-height: $base-line-height;
	float: left;
	margin-left: 5px;
	box-sizing: border-box;
	position: relative;
	height: $dropdown-box-height;
	width: golden-ratio($dropdown-box-height,2);

	.dropdown-button-container {
		text-align: center;
		background: $dropdown-background;
		border: $dropdown-border;
		cursor: pointer;
		text-align: left;
		height: $dropdown-box-height;
		width: golden-ratio($dropdown-box-height,2);
	}
	.dropdown-button-container:hover {
		background-color: $dropdown-background-hover;
	}

	.dropdown-description {
		color: $dropdown-color;
		font-weight: 800;
		margin: 0;
		font-size: .7em;
		padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);

		@include media($large-screen) {
			font-size: 1em;
		}
	}

	.dropdown-description:after {
		color: $base-font-color;
		content: "\25BE";
		display: block;
		position: absolute;
		right: $dropdown-padding;
		top: $dropdown-arrow-top-distance;
	}

	.dropdown-filter {
		color: $dropdown-selections-color;
		margin: 0;
		font-size: .5em;
		padding: 0 ($dropdown-padding * 2.5) ($dropdown-padding / 2) ($dropdown-padding / 2);

		@include media($large-screen) {
			font-size: .7em;
		}
	}

	.dropdown-menu {
		background: $dropdown-background;
		border-radius: $base-border-radius;
		border-top-left-radius: 0;
		border: $dropdown-border;
		color: $dropdown-color;
		cursor: pointer;
		overflow: visable;
		width: auto;
		position:relative;
		z-index: 9999;
	}

	.dropdown-menu li {
		color: $dropdown-color; 
		list-style: none;
		padding: 5px;
		// padding: $dropdown-padding / 2;
	}

	.dropdown-menu li:hover {
		background: $dropdown-background-hover;
	}
}
