{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="tradeTapp">
<head lang="en">
    <meta charset="UTF-8">
    <title>TradeTapp</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<!-- Header -->
<header role="banner"> 
    <div class="container">
        <h1 class="logo"><a href="/">TradeTapp</a></h1>
        <nav class="main-nav" role="navigation">
            <ul>
                <li><a href="javascript:void(0)">My Subcontractors</a></li>
                <li><a href="javascript:void(0)">Find New Partners</a></li>
                <li class="nav-link more"><a href="javascript:void(0)">The Grid</a></li>
                <li class="nav-link"><a href="javascript:void(0)">Projects</a></li>
                <li class="nav-link"><a href="javascript:void(0)">My Account</a></li>
            </ul>
        </nav>

    <!-- <button href="#">Sign In</button>-->    
    </div><!--//container-->
</header>
<!-- //Header -->

<body>
        {% block body_block %}{% endblock %}
</body>

<!-- Footer -->
<footer class="footer" role="contentinfo">
    <div class="container">
        &copy; TradeTapp 2015
    </div>
</footer>
<!--// Footer -->

<!-- Scripts -->
<script type="text/javascript" src="{% static 'dist/all.js' %}"></script>

</html>