<div class="form-wrapper">
    <div class="form-header">
        Welcome to TradeTapp!
    </div>
    <div class="form-sub-header">
        Please fill in the information below to create a profile.
    </div>
        <h1>Company Information</h1>
        <label>Company Name</label>
        <input type="text" placeholder="Enter full company name" />
        <label>Company Address</label>
        <input type="text" placeholder="Address Line 1" />
        <input type="text" placeholder="Address Line 2" />
        <section>
            <input type="text" placeholder="City" />
            <input type="text" placeholder="State"/>
            <input type="text" placeholder="Zip Code" />
        </section>
        <section>
           <label>Federal Tax ID Number</label>
            <input type="text" required placeholder="99-9999999" />
            <div class="dropdown">
                <div class="dropdown-button-container" ng-click="toggleCustom()">
                    <p class="dropdown-description">Type of Work Performed</p>
                    <p class="dropdown-filter">[[tradeSelected]]</p>
                </div>
                <ul ng-hide="menuDropdown" class="dropdown-menu dropdown-select">
                    <li ng-repeat="trade in getTradeList()" ng-click="setFilter(trade)">[[trade]]</li>
                </ul>
            </div>
        </section>
        <section>
            <label>Minority/Disadvantaged Business Certification</label>
            <input type="checkbox" />
            <label>Union Affiliations</label>
            <input type="text"/>
            <label>Non-Union</label>
            <input type="checkbox"/>
        </section>
</div>
<script>
    $(document).ready(function() {
        $(".dropdown-button").click(function() {
            var $button, $menu;
            $button = $(this);
            $menu = $button.siblings(".dropdown-menu");
            $menu.toggleClass("show-menu");
            $menu.children("li").click(function() {
                $menu.removeClass("show-menu");
                $button.html($(this).html());
            });
        });
    });

</script>