<div class="form-wrapper">
    <h1>Financial Input</h1>
        <label>Statement Type</label>
        <input type="text" placeholder="CPA Audited" />
        <label>Statement Date</label>
        <input type="date"/>
    <h2>Assets</h2>
        <label>Cash & Cash Equivalents</label>
        <input type="number" placeholder="$0.00" />
        <label>Marketable Securities</label>
        <input type="number" placeholder="$0.00" />
        <label>Accounts Receivables</label>
        <input type="number" placeholder="$0.00" />
        <label>Underbillings</label>
        <input type="number" placeholder="$0.00" />
        <label>Current Assets</label>
        <input type="number" placeholder="$0.00" />
        <label>Total Assets</label>
        <input type="number" placeholder="$0.00" />
    <h2>Liabilities</h2>
        <label>Accounts Payables</label>
        <input type="number" placeholder="$0.00" />
        <label>Overbillings</label>
        <input type="number" placeholder="$0.00" />
        <label>Current Liabilities</label>
        <input type="number" placeholder="$0.00" />
        <label>Equity</label>
        <input type="number" placeholder="$0.00" />
        <label>Total Liabilities</label>
        <input type="number" placeholder="$0.00" />
    <h2>Statement of Income</h2>
        <label>Statement Period (months)</label>
        <input type="number" placeholder="$0.00" />
        <label>Sales/Revenue</label>
        <input type="number" placeholder="$0.00" />
        <label>Cost of Sales/Revenue</label>
        <input type="number" placeholder="$0.00" />
        <label>Earnings before Income & Taxes</label>
        <input type="number" placeholder="$0.00" />
        <label>Net Income</label>
        <input type="number" placeholder="$0.00" />
    <h2>Statement of Cash Flows</h2>
        <label>Net Cash from Operations</label>
        <input type="number" placeholder="$0.00" />
        <label>Net Cash from Investments</label>
        <input type="number" placeholder="$0.00" />
        <label>Net Cash from Financing</label>
        <input type="number" placeholder="$0.00" />
</div>