<div class="form-wrapper">
    <h1>Safety Information</h1>
    <label>EMR Year</label>
    <input type="date" placeholder="YYYY" />
    <label>EMR Rate</label>
    <input type="number" placeholder="0.00" />
    <label>OSHA Data Year (Form 300A)</label>
    <input type="date" placeholder="YYYY" />
    <label>Total number of hours worked by all Employees</label>
    <input type="number" placeholder="0" />
    <label>Total number of deaths (Box G)</label>
    <input type="number" placeholder="0" />
    <label>Total number of cases with days away from work (Box H)</label>
    <input type="number" placeholder="0" />
    <label>Total number of cases with job transfer or restriction (Box I)</label>
    <input type="number" placeholder="0" />
    <label>Total number of other recordable cases (Box J)</label>
    <input type="number" placeholder="0" />
    <label>Total number of days away from work (Box K)</label>
    <input type="number" placeholder="0" />
    <label>Total number of days of job transfer or restriction (Box L)</label>
    <input type="number" placeholder="0" />
    <label>Total number of Injuries and Illnesses (Box M)</label>
    <input type="number" placeholder="0" />
</div>