<div ng-controller="SubsController as list" class='grid-page'>
	<div class="container">
		<div class='grid-search'>
			<form class="search-bar" role="search">
				<input type="search" placeholder="Enter Search" />
				<button type="submit">
					<img src="../static/img/search-icon.png" alt="Search Icon">
				</button>
			</form>
		</div>
		<div class="grid-context-buttons">
			<div class="button-group">
				<label>
					<input type="radio" name="button-group" value="item" checked>
					<span class="button-group-item">Local</span>
				</label>
				<label>
					<input type="radio" name="button-group" value="other-item">
					<span class="button-group-item">Global</span>
				</label>
				<label>
					<input type="radio" name="button-group" value="other-item">
					<span class="button-group-item">All</span>
				</label>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="grid-filter">
			<div class="dropdown">
				<div class="dropdown-button-container" ng-click="toggleCustom()">
					<p class="dropdown-description">Trade Type</p>
					<p class="dropdown-filter">[[tradeSelected]]</p>
				</div>
				<ul ng-hide="menuDropdown" class="dropdown-menu dropdown-select">
					<li ng-repeat="trade in getTradeList()" ng-click="setFilter(trade)">[[trade]]</li>
					<li class="clearButton" ng-click="clearFilter()">Clear Filters</li>
				</ul>
			</div>
			<!-- <div class="dropdown">
				<div class="dropdown-container">
					<div class="dropdown-button-container">
						<p class="dropdown-description">Trade Type</p>
						<p class="dropdown-filter">Electrician</p>
					</div>
					<ul class="dropdown-menu dropdown-select">
						<li>Dropdown Menu Item</li>
						<li>Another Item</li>
						<li>Item Three</li>
						<li>The Last One</li>
					</ul>
				</div>
			</div> -->
			<!-- <input type="checkbox" ng-model="filters">Filter Something</input> -->
		</div>
	</div>
	<div class="grid-filter-divider">
	</div>
	<div class="grid-content container">
		<div class="cards">
			<div class="card" ng-hide="s.visable" ng-repeat="s in filtered = list.cardlist track by $id(s)">
				<!-- Hide -->
				<div class="view-profile overlay">
					<button href="#">View Profile</button>
				</div>
				<!-- // -->
				<div class="info-top">
					<div class="profile-pic"><img src="../static/img/fisher-logo.png"/></div>
					<h3 class="company">[[s.name]]</h3>
					<span class="location">[[s.location_city]], [[s.location_state]] </span>
					<br/>
					<span class="location">[[s.trade]]</span>


				</div>

				<div class="info-bottom">
					<div class="info mid">
						<h5>Financial <span class="year">(2014)</span></h5>
						<div class="info-content">chart here yo</div>
					</div>

					<div class="info">
						<h5>Safety <span class="year">(2014)</span></h5>
						<div class="info-content">chart here yo</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>