<div ng-controller="SubsController as list" class='grid-page'>
	<div class="container">
		<div class='grid-search'>
			<form class="search-bar" role="search">
				<input type="search" placeholder="Enter Search" />
				<button type="submit">
					<img src="../static/img/search-icon.png" alt="Search Icon">
				</button>
			</form>
		</div>
		<div class="grid-context-buttons">
			<div class="button-group">
				<label>
					<input type="radio" name="button-group" value="item" checked>
					<span class="button-group-item">Local</span>
				</label>
				<label>
					<input type="radio" name="button-group" value="other-item">
					<span class="button-group-item">Global</span>
				</label>
				<label>
					<input type="radio" name="button-group" value="other-item">
					<span class="button-group-item">All</span>
				</label>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="grid-filter">
			<dropdown class ="grid-filter-dropdown" list="list.filter_values.trades" selected="list.selected_filters.trade" label="Trade Type"></dropdown>
			<dropdown class ="grid-filter-dropdown" list="list.filter_values.locations" selected="list.selected_filters.location" label="Location"></dropdown>
			<dropdown class ="grid-filter-dropdown" list="list.filter_values.regions" selected="list.selected_filters.region" label="Region"></dropdown>
		</div>
	</div>
	<div class="grid-filter-divider">
	</div>
	<div class="grid-content container">
		<div class="cards">
			<div class="card" ng-hide="s.hide" ng-repeat="s in filtered = list.cardlist track by $id(s)">
				<!-- Hide -->
				<div class="view-profile overlay">
					<button href="#">View Profile</button>
				</div>
				<!-- // -->
				<div class="info-top">
					<div class="profile-pic"><img src="../static/img/fisher-logo.png"/></div>
					<h3 class="company">[[s.name]]</h3>
					<span class="location">[[s.location]] </span>
					<br/>
					<span class="location">[[s.trade]]</span>


				</div>

				<div class="info-bottom">
					<div class="info mid">
						<h5>Financial <span class="year">(2014)</span></h5>
						<div class="info-content">
							<p class="percentage">88<sup>%</sup></p>        
						</div>
					</div>

					<div class="info">
						<h5>Safety <span class="year">(2014)</span></h5>
						<p class="percentage">99<sup>%</sup></p>        
					</div>
				</div>
			</div>
		</div>
	</div>

</div>