    <div class="container">
        <h1 class="logo"><a href="/">TradeTapp</a></h1>
        <nav class="main-nav" role="navigation">
            <ul>
                <li><a href="javascript:void(0)">My Subcontractors</a></li>
                <li><a href="javascript:void(0)">Find New Partners</a></li>
                <li class="nav-link more"><a ui-sref="grid">The Grid</a></li>
                <li class="nav-link"><a href="javascript:void(0)">Projects</a></li>
                <li class="nav-link"><a href="javascript:void(0)">My Account</a></li>
            </ul>
        </nav>

        <!-- <button href="#">Sign In</button>-->    
    </div><!--//container-->