    <div class="container">
        <h1 class="logo"><a href="/">TradeTapp</a></h1>
        <nav class="main-nav" role="navigation">
            <ul>
                <li><a href="javascript:void(0)">Applications</a></li>
                <li class="nav-link"><a ui-sref="newsubform.profile">Create New</a></li>
                <li class="nav-link"><a ui-sref="grid">Subcontractor Search</a></li>
                <li class="nav-link"><a href="javascript:void(0)">Messages</a></li>
                <li class="nav-link"><a ui-sref="setup">Settings</a></li>
            </ul>
        </nav>

        <!-- <button href="#">Sign In</button>-->    
    </div><!--//container-->