    <div class="form-row">
    <label class="label-small">Statement</label>
    <select>
        <option>CPA Audited</option>
        <option>Compiled/Consolidated</option>
        <option>Reviewed</option>
    </select>
</div>
    <label class="form-row">Statement Date</label>
    <input class="form-row input-max" type="date"/>
<h2 class="form-row">Assets</h2>
    <label class="form-row">Cash & Cash Equivalents</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Marketable Securities</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Accounts Receivables</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Underbillings</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Current Assets</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Total Assets</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
<h2>Liabilities</h2>
    <label>Accounts Payables</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Overbillings</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Current Liabilities</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Equity</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Total Liabilities</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
<h2>Statement of Income</h2>
    <label class="form-row">Statement Period (months)</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Sales/Revenue</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Cost of Sales/Revenue</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Earnings before Income & Taxes</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Net Income</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
<h2>Statement of Cash Flows</h2>
    <label class="form-row">Net Cash from Operations</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Net Cash from Investments</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
    <label class="form-row">Net Cash from Financing</label>
    <input class="form-row input-max" type="number" placeholder="$0.00" />
<h5 class="form-row">Upload Documents:</h5>
<input type="File"/>