<div class="form-wrapper">
<h1>Contact Information</h1>
    <label>Primary Bidding Contact</label>
    <input type="text" placeholder="First Name" />
    <input type="text" placeholder="Last Name" />
    <input type="email" placeholder="Email" />
    <input type="tel" placeholder="Phone" />

    <label>Owner/Principle Contact</label>
    <input type="text" placeholder="First Name" />
    <input type="text" placeholder="Last Name" />
    <input type="email" placeholder="Email" />
    <input type="tel" placeholder="Phone" />
</div>