<div class="form-row">
    <label class="label-small">Company Name</label>
    <input class="input-medium" type="text" placeholder="Enter full company name" />
</div>
<div class="form-row">
    <label class="label-small">Address</label>
    <input class="input-medium" type="text" placeholder="Address Line 1" />
</div>
<div class="form-row">
    <label class="label-small"></label>
    <input class="input-medium" type="text" placeholder="Address Line 2" />
</div>
<div class="form-row">
    <label class="label-small"></label>
    <input class="input-medium" type="text" placeholder="City" />
</div>
<div class="form-row">
    <label class="label-small"></label>
    <input class="input-medium" type="text" placeholder="State"/>
</div>
<div class="form-row">
    <label class="label-small"></label>
    <input class="input-medium" type="text" placeholder="Zip Code" />
</div>
<div class="form-row">
   <label class="label-small">Federal Tax ID</label>
   <input class="input-medium" type="text" placeholder="99-9999999" />
</div>

<div class="form-row">
    <label class="label-small">CSI Division</label>
    <select multiple>
        <option>Finished</option>
        <option>Electrical</option>
        <option>Conveying Systems</option>
        <option>Mechncial</option>
        <option>Concrete</option>
        <option>Doors and Windows</option>
        <option>Metals</option>
        <option>Masonry</option>
    </select>
</div>
<div class="form-row">
    <input class="float" type="checkbox" ng-model="vm.dbe_checked"/>
    <label class="float">M/W/DBE  Certification</label>
</div>
<input class="form-row input-medium" type="text" placeholder="M/W/DBE  Certification" ng-show="vm.dbe_checked"/>
<div class="form-row">
    <input class="float" type="radio" ng-model="vm.union_checked" name="union" value="Union"/>
    <label class="float">Union</label>
    <input class="float" type="radio" name="union" ng-model="vm.union_checked" value="Non"/>
    <label class="float" >Non-Union</label>
    <input class="float" type="radio" name="union" ng-model="vm.union_checked" value="Open"/>
    <label class="float" >Open Shop</label>
</div>
<input class="float input-medium" type="text" placeholder="Union Affiliation" ng-show="(vm.union_checked === 'Union')"/>