<label class="form-row">EMR Year</label>
<input class="form-row input-max" type="date" placeholder="YYYY" />
<label class="form-row">EMR Rate</label>
<input class="form-row input-max" type="number" placeholder="0.00" />
<label class="form-row">OSHA Data Year (Form 300A)</label>
<input class="form-row input-max" type="date" placeholder="YYYY" />
<label class="form-row">Total number of hours worked by all Employees</label>
<input class="form-row input-max" type="number" placeholder="0" />
<label class="form-row">Total number of deaths (Box G)</label>
<input class="form-row input-max" type="number" placeholder="0" />
<label class="form-row">Total number of cases with days away from work (Box H)</label>
<input class="form-row input-max" type="number" placeholder="0" />
<label class="form-row">Total number of cases with job transfer or restriction (Box I)</label>
<input class="form-row input-max" type="number" placeholder="0" />
<label class="form-row">Total number of other recordable cases (Box J)</label>
<input class="form-row input-max" type="number" placeholder="0" />
<label class="form-row">Total number of days away from work (Box K)</label>
<input class="form-row input-max" type="number" placeholder="0" />
<label class="form-row">Total number of days of job transfer or restriction (Box L)</label>
<input class="form-row input-max" type="number" placeholder="0" />
<label class="form-row">Total number of Injuries and Illnesses (Box M)</label>
<input class="form-row input-max" type="number" placeholder="0" />
<h5 class="form-row">Upload Documents:</h5>
<input type="File"/>