<div class="form-row">
    <label class="label-small">Company Name</label>
    <input class="input-medium" type="text" placeholder="Enter full company name" />
</div>
<div class="form-row">
    <label class="label-small">Address</label>
    <input class="input-medium" type="text" placeholder="Address Line 1" />
</div>
<div class="form-row">
    <label class="label-small"></label>
    <input class="input-medium" type="text" placeholder="Address Line 2" />
</div>
<div class="form-row">
    <label class="label-small"></label>
    <input class="input-medium" type="text" placeholder="City" />
</div>
<div class="form-row">
    <label class="label-small"></label>
    <input class="input-medium" type="text" placeholder="State"/>
</div>
<div class="form-row">
    <label class="label-small"></label>
    <input class="input-medium" type="text" placeholder="Zip Code" />
</div>
<div class="form-row">
   <label class="label-small">Federal Tax ID Number</label>
   <input class="input-medium" type="text" placeholder="99-9999999" />
</div>

<div class="form-row">
    <label class="label-small">Type of Work Performed</label>
    <select>
        <option></option>
        <option>Finished</option>
        <option>Electrical</option>
        <option>Conveying Systems</option>
        <option>Mechncial</option>
        <option>Concrete</option>
        <option>Doors and Windows</option>
        <option>Metals</option>
        <option>Masonry</option>
    </select>
</div>
<div class="form-row">
    <input class="float" type="checkbox" />
    <label class="float">Minority/Disadvantaged Business Certification</label>
</div>
<div class="form-row">
    <input class="float" type="checkbox"/>
    <label class="float" >Non-Union</label>
    <input class="float" type="checkbox"/>
    <label class="float">Union</label>
    <input class="float input-medium" type="text" placeholder="Union Affiliation"/>
</div>