<div class="form-row">
	<label class="label-small">Primary Bidding Contact</label>
	<input class="input-medium" type="text" placeholder="First Name" />
</div>
<div class="form-row">
	<label class="label-small"></label>
	<input class="input-medium" type="text" placeholder="Last Name" />
</div>
<div class="form-row">
	<label class="label-small"></label>
	<input class="input-medium" type="email" placeholder="Email" />
</div>
<div class="form-row">
	<label class="label-small"></label>
	<input class="input-medium" type="tel" placeholder="Phone" />
</div>
<div class="form-row">
	<label class="label-small">Owner/Principle Contact</label>
	<input class="input-medium" type="text" placeholder="First Name" />
</div>
<div class="form-row">
	<label class="label-small"></label>
	<input class="input-medium" type="text" placeholder="Last Name" />
</div>
<div class="form-row">
	<label class="label-small"></label>
	<input class="input-medium" type="email" placeholder="Email" />
</div>
<div class="form-row">
	<label class="label-small"></label>
	<input class="input-medium" type="tel" placeholder="Phone" />
</div>