<div class="container">
	<h1>Profile will be here</h1>


	<div class="card">
		<!-- Hide -->
		<div class="view-profile overlay">
			<button href="#">View Profile</a>
		</div>
		<!-- // -->
		<div class="info-top">
			<div class="profile-pic"><img src="../img/fisher-logo.png"/></div>
			<h3 class="company">Fisher Development, Inc.</h3>
			<span class="location">San Francisco, CA</span>
		</div>

		<div class="info-bottom">
			<div class="info">
				<h5>Union Status</h5>
				<div class="info-content">

				</div>
			</div>

			<div class="info mid">
				<h5>Region</h5>
				<img src="../img/usa.svg"/>
			</div>

			<div class="info">
				<h5>Size</h5>
				<div class="info-content">
					<span class="stat">$127,000,000</span> 
					<span class="year">(2014)</span>
				</div>
			</div>

			<div class="info lower">
				<h5>Trade</h5>
				<ul class="trade-list">
					<li>Concrete</li>
					<div class="info-content">

					</div>
				</ul>
			</div>

			<div class="info mid lower">
				<h5>Financial <span class="year">(2014)</span></h5>
				<div class="info-content">

				</div>
			</div>

			<div class="info lower">
				<h5>Safety <span class="year">(2014)</span></h5>
				<div class="info-content">

				</div>
			</div>
		</div>
	</div>

</div>