<div class="container">
	<h1>Profile will be here</h1>


	<!-- Card Markup -->
	<div class="card">
		<!-- Hide -->
		<div class="view-profile overlay">
			<button href="#">View Profile</a>
		</div>
		<!-- // -->
		<div class="info-top">
			<div class="profile-pic"><img src="../static/img/fisher-logo.png"/></div>
			<h3 class="company">Fisher Development, Inc.</h3>
			<span class="location">San Francisco, CA</span>
		</div>

		<div class="info-bottom">
			<div class="info mid">
				<h5>Financial <span class="year">(2014)</span></h5>
				<div class="info-content">chart here yo</div>
			</div>

			<div class="info">
				<h5>Safety <span class="year">(2014)</span></h5>
				<div class="info-content">chart here yo</div>
			</div>
		</div>
	</div>
	<!-- //Card Markup -->

</div>