<!-- Alert -->
<div class="alert">
	<div class="container">
		<i class="ss-icon">check</i><strong>Qualification Status: Approved!</strong> Last edited by Justin Levine on September 9th, 2015
		<i class="ss-icon close">close</i>
	</div>
</div>
<!-- // -->

<section class="profile">
	<div class="container">
		<div class="profile-info">
			<h1>Slusarski Finishes Contractors</h1>
			<h5>Trade</h5>
			<ul class="trade-list">
				<li class="tag">Finishes</li>
				<li class="tag">Concrete</li>
			</ul>
		</div>
	</div>
</section>

<section class="chart-data">
	<div class="container">
		
		<div class="button-group">
		  <label>
		    <input type="radio" name="button-group" value="item" checked>
		    <span class="button-group-item">Financial</span>
		  </label>
		  <label>
		    <input type="radio" name="button-group" value="other-item">
		    <span class="button-group-item">Safety</span>
		  </label>
		</div>
			<div class="charts financial">
				<h2>Percentile Rankings (2014 Data)</h2>
				<div class="item local">
				    <h2>Local</h2>
				    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
				     <g>
				      <title>Layer 1</title>
				      <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#00a2e1" fill="none"/>
				     </g>
				    </svg>
				</div>

				<div class="item global">
				    <h2>Global</h2>
				    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
				     <g>
				      <title>Layer 1</title>
				      <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#3690B3" fill="none"/>
				     </g>
				    </svg>
				</div>

				<div class="item trade">
				    <h2>Trade</h2>
				    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
				     <g>
				      <title>Layer 1</title>
				      <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#69aff4" fill="none"/>
				     </g>
				    </svg>
				</div>
			</div>
		</div>
	</section>

<section class="company-contacts">
	<div class="container">
		<h3>Company Contacts</h3>
	</div>
</section>

<div class="container">
	<!-- Financial Data -->
<section class="">
<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link is-active">Financial Ratios</a>
    <div class="tab-content">
	<div class="header">
		<h3>Financial Analysis Outputs</h3>
	</div>
	<div class="content">
		<table>
			<thead class="no-border">
			<tr>
			<th><strong>Key Indicator</strong></th>
			<th><strong>2014</strong></th>
			<th><strong>2013</strong></th>
			<th><strong>2012</strong></th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>Quick Ratio</td>
			<td>1.23</td>
			<td>1.24</td>
			<td>1.25</td>
			</tr>
			<tr>
			<td>Days of Cash on Hand</td>
			<td>9.11</td>
			<td>10.22</td>
			<td>11.33</td>
			</tr>
			<tr>
			<td>Underbillings to Working Capital</td>
			<td>0.23</td>
			<td>0.24</td>
			<td>0.25</td>
			</tr>
			<tr>
			<td>Accounts Receivables Turnover</td>
			<td>3.23</td>
			<td>4.24</td>
			<td>5.25</td>
			</tr>
			<tr>
			<td>Working Capital Turnover</td>
			<td>13.23</td>
			<td>24.24</td>
			<td>35.25</td>
			</tr>
			<tr>
			<td>Debt Ratio</td>
			<td>7.23</td>
			<td>8.24</td>
			<td>9.25</td>
			</tr>
			<tr>
			<td>Debt to Equity</td>
			<td>7.23</td>
			<td>8.24</td>
			<td>9.25</td>
			</tr>
			<tr>
			<td>Cash to Overbillings</td>
			<td>7.23</td>
			<td>8.24</td>
			<td>9.25</td>
			</tr>
			<tr>
			<td>Gross Profit Margin</td>
			<td>7.23%</td>
			<td>8.24%</td>
			<td>9.25%</td>
			</tr>
			<tr>
			<td>Return on Assets</td>
			<td>7.23</td>
			<td>8.24</td>
			<td>9.25</td>
			</tr>
			</tbody>
		</table>
	</div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">vs Networks</a>
    <div class="tab-content">
	<div class="header">
		<h3>Financial Analysis Outputs</h3>
    </div>
    <div class="content">
        <table>
            <thead class="no-border">
            <tr>
                <th><strong>Ratio</strong></th>
                <th><strong>2014</strong></th>
                <th><strong>Local Network Mean</strong></th>
                <th><strong>Global Network Mean</strong></th>
                <th><strong>Trade Network Mean</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Quick Ratio</td>
                <td>1.23</td>
                <td>1.24</td>
                <td>1.25</td>
                <td>1.25</td>
            </tr>
            <tr>
                <td>Days of Cash on Hand</td>
                <td>9.11</td>
                <td>10.22</td>
                <td>11.33</td>
                <td>1.25</td>
            </tr>
            <tr>
                <td>Underbillings to Working Capital</td>
                <td>0.23</td>
                <td>0.24</td>
                <td>0.25</td>
                <td>1.25</td>
            </tr>
            <tr>
                <td>Accounts Receivables Turnover</td>
                <td>3.23</td>
                <td>4.24</td>
                <td>5.25</td>
                <td>1.25</td>
            </tr>
            <tr>
                <td>Working Capital Turnover</td>
                <td>13.23</td>
                <td>24.24</td>
                <td>35.25</td>
                <td>1.25</td>
            </tr>
            <tr>
                <td>Debt Ratio</td>
                <td>7.23</td>
                <td>8.24</td>
                <td>9.25</td>
                <td>1.25</td>
            </tr>
            <tr>
                <td>Debt to Equity</td>
                <td>7.23</td>
                <td>8.24</td>
                <td>9.25</td>
                <td>1.25</td>
            </tr>
            <tr>
                <td>Cash to Overbillings</td>
                <td>7.23</td>
                <td>8.24</td>
                <td>9.25</td>
                <td>1.25</td>
            </tr>
            <tr>
                <td>Gross Profit Margin</td>
                <td>7.23%</td>
                <td>8.24%</td>
                <td>9.25%</td>
                <td>1.25%</td>
            </tr>
            <tr>
                <td>Return on Assets</td>
                <td>7.23</td>
                <td>8.24</td>
                <td>9.25</td>
                <td>1.25</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Raw Financial Data</a>
    <div class="tab-content">
     <div class="header">
                                        <h3>Financial Analysis Outputs</h3>
                                    </div>
                                    <div class="content">
                                        <table>
                                            <thead class="no-border">
                                            <tr>
                                                <th><strong>Input</strong></th>
                                                <th><strong>2014</strong></th>
                                                <th><strong>2013</strong></th>
                                                <th><strong>2012</strong></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Cash and Cash Equivalents</td>
                                                <td>1.23</td>
                                                <td>1.24</td>
                                                <td>1.25</td>
                                            </tr>
                                            <tr>
                                                <td>Marketable Securities</td>
                                                <td>9.11</td>
                                                <td>10.22</td>
                                                <td>11.33</td>
                                            </tr>
                                            <tr>
                                                <td>Accounts Receivables</td>
                                                <td>0.23</td>
                                                <td>0.24</td>
                                                <td>0.25</td>
                                            </tr>
                                            <tr>
                                                <td>Underbillings</td>
                                                <td>3.23</td>
                                                <td>4.24</td>
                                                <td>5.25</td>
                                            </tr>
                                            <tr>
                                                <td>Current Assets</td>
                                                <td>13.23</td>
                                                <td>24.24</td>
                                                <td>35.25</td>
                                            </tr>
                                            <tr>
                                                <td>Total Assets</td>
                                                <td>7.23</td>
                                                <td>8.24</td>
                                                <td>9.25</td>
                                            </tr>
                                            <tr>
                                                <td>Accounts Payables</td>
                                                <td>7.23</td>
                                                <td>8.24</td>
                                                <td>9.25</td>
                                            </tr>
                                            <tr>
                                                <td>Overbillings</td>
                                                <td>7.23</td>
                                                <td>8.24</td>
                                                <td>9.25</td>
                                            </tr>
                                            <tr>
                                                <td>Current Liabilities</td>
                                                <td>7.23</td>
                                                <td>8.24</td>
                                                <td>9.25</td>
                                            </tr>
                                            <tr>
                                                <td>Equity</td>
                                                <td>7.23</td>
                                                <td>8.24</td>
                                                <td>9.25</td>
                                            </tr>
                                            <tr>
                                                <td>Total Liabilities</td>
                                                <td>7.23</td>
                                                <td>8.24</td>
                                                <td>9.25</td>
                                            </tr>
                                            <tr>
                                                <td>Sales/Revenue</td>
                                                <td>7.23</td>
                                                <td>8.24</td>
                                                <td>9.25</td>
                                            </tr>
                                            <tr>
                                                <td>Cost of Sales/Revenue</td>
                                                <td>7.23</td>
                                                <td>8.24</td>
                                                <td>9.25</td>
                                            </tr>
                                            <tr>
                                                <td>Earnings before Income Taxes</td>
                                                <td>7.23</td>
                                                <td>8.24</td>
                                                <td>9.25</td>
                                            </tr>
                                            <tr>
                                                <td>Net Income</td>
                                                <td>7.23</td>
                                                <td>8.24</td>
                                                <td>9.25</td>
                                            </tr>
                                            <tr>
                                                <td>Net Cash from Operations</td>
                                                <td>7.23</td>
                                                <td>8.24</td>
                                                <td>9.25</td>
                                            </tr>
                                            <tr>
                                                <td>Net Cash from Investments</td>
                                                <td>7.23</td>
                                                <td>8.24</td>
                                                <td>9.25</td>
                                            </tr>
                                            <tr>
                                                <td>Net Cash from Financing</td>
                                                <td>7.23</td>
                                                <td>8.24</td>
                                                <td>9.25</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Project History</a>
    <div class="tab-content">
 	<div class="header">
         <h3>Project Reference #1</h3>
    </div>
    <div class="content overflow-hidden">
        <address><strong>Twitter, Inc.</strong>
        	<br>795 Folsom Ave, Suite 600
        	<br>San Francisco, CA 94107
        	<br>
        	<abbr title="Phone">P:</abbr> (123) 456-7890</address>
        <address><strong>Full Name</strong><br><a href="mailto:#">first.last@example.com</a></address>
    </div>
    </div>
  </li>

   <li class="tab-header-and-content">
    <a href="#" class="tab-link">Trends/Charts</a>
    <div class="tab-content">
      <img src="../static/img/Network%20Rank%20Trend%20(Safety%20&%20Financial).jpeg"/>
      <img src="../static/img/Trending%20Financial%20Rank%20by%20Category.jpeg"/>

    </div>
  </li>

   <li class="tab-header-and-content">
    <a href="#" class="tab-link">Company Information</a>
    <div class="tab-content">
            <div class="content overflow-hidden">
				<h3>Address</h3>
                <address>
	                <strong>Sample Company, Inc.</strong><br>
	               	795 Folsom Ave, Suite 600<br>
	               	San Francisco, CA 94107<br>
               </address>
            </div>

            <div class="content">
                <h3>General</h3>
	            <p>
		            Incorporated 1989<br>
		            Federal Tax ID #: 90-9999999</br>
		            MWBE Certification #: 34599H66</br>
	            </p>
            </div>
    </div>
  </li>

 <li class="tab-header-and-content">
    <a href="#" class="tab-link">Reviews</a>
    <div class="tab-content">
       <label>Project Name</label>
                        <input type="text" class="form-control"/>
                        <label>Owner Name</label>
                        <input type="text" class="form-control"/>
                        <label>Owner Type</label>
                        <div>
                            <select class="form-control">
                                <option>Public/Government</option>
                                <option>Private</option>
                                <option>Institutional</option>
                                <option>Healthcare</option>
                                <option>Retail</option>
                                <option>Higher Education</option>
                            </select>
                        </div>
                        <label>Contract Type</label>
                        <div>
                            <select class="form-control">
                                <option>Lump Sum</option>
                                <option>Cost Guarantee</option>
                                <option>Cost Plus</option>
                                <option>P3</option>
                            </select>
                        </div>
                        <label>Average Payment Period (Days)</label>
                        <input type="text" class="form-control"/>
                        <div class="form-group">
                            <label>Review</label>
                                <div>
                                <div class="radio">
                                    <label> <input type="checkbox" value="bar" name="e1" data-parsley-multiple="group1"> Provided Insufficient Staffing/Labor</label>
                                </div>
                                <div class="radio">
                                    <label> <input type="checkbox" value="bar" name="e2" data-parsley-multiple="group1"> Failed to Meet Schedule</label>
                                </div>
                                <div class="radio">
                                    <label> <input type="checkbox" value="bar" name="e3" data-parsley-multiple="group1" data-parsley-maxcheck="1"> Completed on time or ahead of Schedule</label>
                                </div>
                                <div class="radio">
                                    <label> <input type="checkbox" value="bar" name="e3" data-parsley-multiple="group1" data-parsley-maxcheck="1"> Change Orders exceeded 25% of original subcontract value</label>
                                </div>
                                <div class="radio">
                                    <label> <input type="checkbox" value="bar" name="e3" data-parsley-multiple="group1" data-parsley-maxcheck="1"> Breach of Contract</label>
                                </div>
                                <div class="radio">
                                    <label> <input type="checkbox" value="bar" name="e3" data-parsley-multiple="group1" data-parsley-maxcheck="1"> Default of Performance</label>
                                </div>
                                <div class="radio">
                                    <label> <input type="checkbox" value="bar" name="e3" data-parsley-multiple="group1" data-parsley-maxcheck="1"> Default for Financial Distress</label>
                                </div>
                                <div class="radio">
                                    <label> <input type="checkbox" value="bar" name="e3" data-parsley-multiple="group1" data-parsley-maxcheck="1"> Default for Safety Performance</label>
                                </div>
                                <div class="radio">
                                    <label> <input type="checkbox" value="bar" name="e3" data-parsley-multiple="group1" data-parsley-maxcheck="1"> Had a Major Safety Incident/Accident on Project</label>
                                </div>
                                <div class="radio">
                                    <label> <input type="checkbox" value="bar" name="e3" data-parsley-multiple="group1" data-parsley-maxcheck="1"> Other Default</label>
                                </div>
                                </div>
                        </div>
    </div>
  </li>
<li class="tab-header-and-content">
	<a href="#" class="tab-link">Scenario Generator</a>
    <div class="tab-content">
    	<label>Owner Type</label>
                        <div>
                            <select class="form-control">
                                <option>Public/Government</option>
                                <option>Private</option>
                                <option>Institutional</option>
                                <option>Healthcare</option>
                                <option>Retail</option>
                                <option>Higher Education</option>
                            </select>
                        </div>
                        <label>Contract Type</label>
                        <div>
                            <select class="form-control">
                                <option>Lump Sum</option>
                                <option>Cost Guarantee</option>
                                <option>Cost Plus</option>
                                <option>P3</option>
                            </select>
                        </div>
                        <label>Value</label>
                        <input type="number" class="form-control" placeholder="$1,000,000"/>
                        <label>Project Region</label>
                        <div>
                            <select class="form-control">
                                <option>Northeast</option>
                                <option>Southeast</option>
                                <option>Midwest</option>
                                <option>Southwest</option>
                                <option>Northwest</option>
                                <option>West</option>
                            </select>
                        </div>
                        <div>

                        </div>
                        <div>
                            <label>Scenario Results</label>
                        </div>
                        <div class="content">
                            <div class="alert alert-success alert-white rounded">
                                <i class="ss-icon">check</i>Contract Value is less than 3x Working Capital
                            </div>
                            <div class="alert alert-warning alert-white rounded">
                               <i class="ss-icon">alert</i>Project history does not indicate any projects larger than this scenario
                            </div>
                            <div class="alert alert-danger alert-white rounded">
                                <i class="ss-icon">close</i>This profile does not have current year financial data
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</li>
</ul>

 <div class="stats_bar container">
                <div class="butpro butstyle" style="height:80px">
                    <div class="sub"><h2>Annual Revenue</h2><span>$145,230,000</span></div>
                    <div class="stat"><span class="up"> $122.3M (2013) </span></div>
                </div>
                <div class="butpro butstyle" style="height:80px">
                    <div class="sub"><h2>Working Capital</h2><span>$2,444,589</span></div>
                    <div class="stat"><span class="down"> $3.4M (2013) </span></div>
                </div>
                <div class="butpro butstyle" style="height:80px">
                    <div class="sub"><h2>Z-Score Plus</h2><span>2.62</span></div>
                    <div class="stat"><i class="fa fa-exclamation"></i> Grey Zone</div>
                </div>
                <div class="butpro butstyle" style="height:80px">
                    <div class="sub"><h2>Net Cash Flow</h2><span>$262,976</span></div>
                    <div class="stat"><span class="up"> $132k (2013) </span></div>
                </div>
                <div class="butpro butstyle" style="height:80px">
                    <div class="sub"><h2>Single Contract Limit</h2><span>$9,345,000</span></div>
                    <div class="stat"><span class="down"> $13.8M (2013) </span></div>
                </div>
                <div class="butpro butstyle" style="height:80px">
                    <div class="sub"><h2>Agg. Contract Limit</h2><span>$36,276,999</span></div>
                    <div class="stat"><span class="down"> $52.7M (2013) </span></div>

                </div>
            </div>
<script>
$(document).ready(function () {

	// Alert Close
	$(".alert .close").click(function(){
		$(".alert").slideUp('slow');
	});


  $('.accordion-tabs-minimal').each(function(index) {
    $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
  });
  $('.accordion-tabs-minimal').on('click', 'li > a.tab-link', function(event) {
    if (!$(this).hasClass('is-active')) {
      event.preventDefault();
      var accordionTabs = $(this).closest('.accordion-tabs-minimal');
      accordionTabs.find('.is-open').removeClass('is-open').hide();

      $(this).next().toggleClass('is-open').toggle();
      accordionTabs.find('.is-active').removeClass('is-active');
      $(this).addClass('is-active');
    } else {
      event.preventDefault();
    }
  });
});
</script>
</div>